/* Created by Ishmael Sanchez, www.ishmaelsanchez.com */
/* $Id: print.css,v 1.2 2010/03/03 06:56:08 ishmaelsanchez Exp $ */

/**
 * This is file is for print media solely
 */

/*** Set up basic print standards ***/
body {
	background:#fff; /* Reduce the amount of ink used when printing */
  color:#000;
  font-family:Times, 'Times New Romans', serif;
  font-size: 12pt; /* Setting an acutal point size for print */
	line-height:16pt;
  margin:5pt;
}

h1 {font-size:24pt;}
h2, h3, h4 {font-size:18pt}
img {border:none;}

#wrapper {
	margin:5pt;
	width: 90%; /* Shrink content */
}

#site-name {text-align:center;}

#site-name a {
  color:#000;
	font-size:32pt;
	font-weight:bold;
	padding:5pt;
	text-decoration:none; /* Remove underline from site name header */
}

#logo {
  float:left;
  margin:5pt 5pt 2pt 0;
}
  
/*Hide navigation and other elements*/
#primary, #bg-image, #footer-secondary, .terms, .tabs, .links, .taxonomy, .invisible, .pager, .breadcrumb, #content img {
	visibility:hidden;
	display:none;
}

a:link, a:visited, a:active {
	color:#333;
	text-decoration:underline;
}

.posted {
  color:#999;
  font-size:10pt;
}

#footer {
  clear:both;
	color:#444;
	font-size:12pt;
	margin:15pt 0 0 2pt;
}