#callout .wn-hp-callout-pager a {
  background:url(../../images/pager/pager-blue.gif) 100% 0 no-repeat;
}

.title, .block-title, #footer .block-title, #sidebar-second .block-title a {
  color: #00b8e0;
}

a, a:link, a:visited {
  color:#00b8e0;
}