body {
  background: #5c5c5c url(../images/bg2.jpg) 0 -300px no-repeat;
  letter-spacing: 0;
}

#main {
  background: #fff;
}

#page {
  margin-top: 40px;
}

#sidebar-second .block .block-inner, .node-inner {
  overflow: hidden;
}

h1.title {
  font-weight: bold;
  font-size: 1.6em;
  text-transform: uppercase;
  padding-bottom:.6em;
}

.with-navigation #content, .with-navigation .sidebar {
  margin-top:0;
}

/* =Header
-----------------*/
#slogan {
  margin-left: 70px;
  font-style: italic;
}


/* =Footer
-----------------*/
#footer-first, #footer-second, #footer-message {
  padding:0 20px;
  width: 920px;
}

#footer-first {
  background:#00b8e0;
  padding-top:20px;
}

#footer-second {
  padding-top:20px;
}

#footer #footer-first .block-title, #footer-first .content a {
  color:#fff;
}

#footer-first  {
  color:#000;
}

#footer {
  background: #000;
  color: #fff;
  margin-bottom: 40px;
}

#footer a {
  color: #fff;
}

#block-watershed-mission {
  width: 32%;
}

#block-secondary-links {
  width: 21%;
}

#block-follow-site {
  width: 16%;
}

#block-boxes-showcase_1, #block-boxes-showcase_2, #block-boxes-showcase_3 {
  width:32%;
}

#block-boxes-showcase_3 {
  width:34%; /* try to match #sidebar-second */
}

/* =Navigation
-----------------*/
#nav a {
  border-right: 1px solid #999;
  padding-right: 1em;
  display: block;
  float: left;
}
#nav ul ul a {
  border-right: 0;
}

/* =Search Box
-----------------*/
#search-box {
  margin:5px 40px 0 0;
}

/* =Sidebar
-----------------*/
.two-sidebars .center, .sidebar-right .center {
  margin-right:333px;
}
#callout .wn-hp-callout-entry, #sidebar-second {
  width:333px;
}

.sidebar .block-title {
  background: #000;
  font-style: italic;
  text-transform: lowercase;
  font-size:100%;
  padding:.25em .5em;
}

.sidebar .block .content {
  font-size:86%;
}

.sidebar .block-title, .sidebar .content {
  padding-left: 5px;
}

.sidebar-right #content-inner {
  background: url(../images/sidebar_border.gif) repeat-y 100% 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top:20px;
}

#sidebar-second #sidebar-second-inner {
  margin: 40px 40px 40px 20px;
}

