/* =Layout
-----------------*/
#main {
  padding:20px 0;
}
#content-inner, #sidebar-second-inner {
  margin-top:0;
  margin-bottom:0;
  padding-top:20px;
  padding-bottom:0;
}

/* =Shadows
-----------------*/
#page-shadow { 
  background:url(../images/page_shadow/page_shadow_bottom.png) 0 100% repeat-x;
}

#page-shadow-right {
  position:absolute;
  top:-8px;
  right:-11px;
  width:11px;
  margin-bottom:8px;
  height:100%;
  background:url(../images/page_shadow/page_shadow_right.png) 100% 0 repeat-y;
}

#page-shadow-tr-corner {
  width:13px;
  height:14px;
  position:absolute;
  top:-22px;
  right:-11px;
  background:url(../images/page_shadow/page_shadow_tr_corner.png) 0 0 no-repeat;
}

#page-shadow-br-corner {
  width:11px;
  height:8px;
  position:absolute;
  bottom:0;
  right:0;
  margin-right:-11px;
  background:url(../images/page_shadow/page_shadow_br_corner.png) 0 0 no-repeat;
}

#main, #callout {
  box-shadow:0 0 5px #666;
  -moz-box-shadow:0 0 5px #666; 
  -webit-box-shadow:0 0 5px #666;
}

#footer-first .block-title {
  text-shadow:1px 1px 1px #666;
  -moz-text-shadow:1px 1px 1px #666; 
  -webit-text-shadow:1px 1px 1px #666;
}

body {
  background: url("../images/bg2.png") no-repeat scroll center -225px #5C5C5C;
  letter-spacing: 0;
}

#main {
  background: #fff;
}

#page {
  margin-top: 20px;
}

.page-map #content-inner {
  padding-top: 40px;
}

h1.title {
  font-weight: bold;
  font-size: 1.6em;
  text-transform: uppercase;
  padding-bottom:.6em;
}

.with-navigation #content, .with-navigation .sidebar {
  margin-top:0;
  margin-bottom:0;
}

/* =Header
-----------------*/
#slogan {
  margin-left: 70px;
  font-style: italic;
}


/* =Footer
-----------------*/
#footer-first, #footer-second, #footer-message {
  padding:0 20px;
  width: 920px;
}

#footer-first {
  background:#00b8e0;
  padding-top:20px;
}

#footer-second {
  padding-top:20px;
}

#footer #footer-first .block-title, #footer-first .content a {
  color:#fff;
}

#footer-first  {
  color:#000;
}

#footer {
  background: #000;
  color: #fff;
  margin-bottom: 40px;
}

#footer a {
  color: #fff;
}

#block-watershed-mission {
  width: 32%;
}

#block-secondary-links {
  width: 21%;
}

#block-follow-site {
  width: 16%;
}

/* =Navigation
-----------------*/
#nav a {
  border-right: 1px solid #999;
  padding-right: 1em;
  display: block;
  float: left;
  line-height: 2.5em;
}
#nav ul ul a {
  border-right: 0;
}

/* =Search Box
-----------------*/
#search-box {
  margin:5px 40px 0 0;
}

/* =Sidebar
-----------------*/
.two-sidebars .center, .sidebar-right .center {
  margin-right:333px;
}
#callout .wn-hp-callout-entry, #sidebar-second {
  width:333px;
}

.sidebar .block-title {
  background: #000;
  font-style: italic;
  text-transform: lowercase;
  font-size:100%;
  padding:.25em .5em;
}

.sidebar .block .content {
  font-size:86%;
}

.sidebar .block-title, .sidebar .content {
  padding-left: 5px;
}

.sidebar-right #content-inner {
  background: url(../images/sidebar_border.gif) repeat-y 100% 0;
}

#sidebar-second #sidebar-second-inner {
  margin:0 40px 0 20px;
}


/*
 *  Related content styles
 */ 

#sidebar-second .view-related-getinvolved-content .field-content > .field-item {
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px dotted #000;
}

#sidebar-second .view-related-getinvolved-content .field-content > .field-item h2.title {
  font-size: 1.1em;
  margin-bottom: 0;
  font-weight: bold;
}

/** Set the height of the multimedia block. This is necessary for sidebar/content area sizing to work.*/
#block-views-sidebar_multimedia-block_1 {
  height: 270px;
}

/** Event Sign-up form */
body.node-type-event .node-inner .content {
  background-color: #FFFFFF;
}
body.node-type-event .node-inner table.sticky-enabled {
  margin-left: 5px;
}

/** Optional Waterkeeper Alliance Logo styles for footer. */
#wka {
  position: absolute;
  right: 50px;
  bottom: 45px;
}