# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
#
# Git Ignore File added by Sean Larkin to ignore unnecessary files and directories.
settings.php
.DS_Store
pass
db_load_prod.sh
db_dump_dev.sh
nbproject*
cc_key/uc_credit.key
backup
sites/default/files
watershednow_dev.sql
drupalrivers_dev.sql
*.tmproj
