/** Layout overrides of Watershedshed Theme */

#secondary-search {
  position: absolute;
  top: 5px;
  width: 960px;
  height: 25px;
}

#secondary {
  float: right;
}

/** Header, main, footer divs */

body {
  color: #444;
  background-color: #EDEDED;
}

#header, #main, #footer {
  background-color: #FFF;
  border-color: #D5D5D5;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}

#header {
  margin-top: 30px;
  height: 150px;
  border-top-width: 1px;
  border-top-style: solid;
  background-image: url(../images/header_background.jpg);
  background-repeat: no-repeat;
}

#footer {
  width: 960px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/** Primary page elements */

h1, h2, h3, h4, h5, h6 {
  color: #666666;
}