/* Customizatins to the Nixer theme. Keeping them in their own stylesheet to keep source control clean. */

body {
  font-family: Helvetica,sans-serif;
}

a:link, a:visited {
  color: #8C0000;
}

#logo-title {
  width: 100%;
}

a#logo {
  float: none;
}

#name-and-slogan {
  float: right;
  top: auto;
  left: auto;
  margin-top: -50px;
}

#site-slogan {
  font-size: 2.5em;
  color: #666666;
}

#footertheme a:link, #footertheme a:visited {
  color: #8C0000;
}