/* $Id: content_multigroup.css,v 1.1.4.2 2009/06/07 00:06:21 markuspetrux Exp $ */

label.content-multigroup {
  font-weight: bold;
}

/* Not styled by default, but available to style. */
hr.content-multigroup {
}

/* Inline field labels visible within the context of multigroups. */
.content-multigroup-wrapper .field .field-label-inline {
  visibility: visible;
}

/**
 * Hide field labels and description on the node edit form when the multiple
 * columns option is enabled.
 */
.content-multigroup-edit-table-multiple-columns label,
.content-multigroup-edit-table-multiple-columns .description {
  display: none;
}

/* Hide field labels when using 'table-multiple' display mode. */
.content-multigroup-display-table-multiple-columns .field .field-label,
.content-multigroup-display-table-multiple-columns .field .field-label-inline,
.content-multigroup-display-table-multiple-columns .field .field-label-inline-first {
  display: none;
}

/* Display table with a row for each subgroup and all fields in a single column. */
.content-multigroup-display-table-single-column .content-multigroup-wrapper {
  clear: both;
}
.content-multigroup-display-table-single-column .content-multigroup-wrapper label.content-multigroup {
  display: block;
}
.content-multigroup-display-table-single-column .content-multigroup-wrapper .field {
  float: left;
  margin-right: 1em;
}
