#block-views-wn_homepage_callout-block_1 {
  margin:0;
}

#block-views-wn_homepage_callout-block_1 .edit {
  top:0;
  right:0;
} 

.wn-hp-callout {
  width:100%;
  height:287px;
  width:960px; /* see imagecache preset if changing dimensions */
  position:relative;
}

.wn-hp-callout-pager {
  position:absolute;
  bottom:10px;
  right:10px;
  z-index:99;
}
.wn-hp-callout-pager a {
  margin-left:1em;
  padding:.5em;
}

.wn-hp-callout-pager a.activeSlide {
  font-weight:bold;
}

.wn-hp-callout-title {
  font-size:230%;
  line-height:1.2;
  font-weight:bold;
  margin-bottom:0;
}
.wn-hp-callout ul {
  margin:0;
  padding:0;
}

.wn-hp-callout li {
  display:none;
  list-style:none;
  background:none;
  margin:0;
  padding:0;
  position:relative;
}

.wn-hp-callout .first {
  display:block;  /* only show the first by default */
}

.wn-hp-callout-title {
  padding:50px 20px 20px 20px;
}

.wn-hp-callout-content {
  padding:0 20px 20px 20px;
}

.wn-hp-callout-entry {
  width:33%;
  height:100%;
  position:absolute;
  top:0;
  right:0;
  background:#fff;
}
