/* Styles applied to Watershed Now! dashboard. */

th.sort-alpha {
  color: #3399CC;
}

th.hover {
  cursor: pointer;
}

th.sorted-asc {
  background: url('/misc/arrow-asc.png') no-repeat right;
}

th.sorted-desc {
  background: url('/misc/arrow-desc.png') no-repeat right;
}

.quicklinks td {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

/* Styles applied to Content listing */

div.messages ul.links li {
  display: block;
  margin-left: 10px;
  font-size: 0.8em;
}

.view-all-content #edit-date-filter-value-datepicker-popup-0-wrapper {
  margin-top: -20px;
}

.view-all-content .views-exposed-widget {
  width: 30%;
}