.form-text, .form-textarea {
  font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
  background:#fff url(../images/forms/field-bg.gif) repeat-x 0 0;
  border-color: #7C7C7C #C3C3C3 #DDDDDD;
  border-width:1px;
  padding:2px 0 2px 2px;
}
#edit-title{
  font-size: 24px;
}
#system-themes-form img{
  width:100px;
}
.form-item .description{
  font-style:italic;
  line-height:1.2em;
  font-size:0.8em;
  margin-top:5px;
  color:#777;
}
#edit-delete{
  color:#c00;
}

#box-editor .form-text { width:96%; }
