/* Yes, we all hate IE7 too */

/** Drupal admin tables **/

#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/* Minor fix for primary and secondary tabs in IE */

ul.primary li a:hover {
	cursor:pointer;
	color:#555;
	text-decoration:none;
}
ul.secondary li a:hover{
	cursor:pointer;
	color:#555;
	text-decoration:none;
}

/*
 *  Remove text from newsletter form submit button in IE7
 */

#block-watershed-newsletter .form-submit {
  text-indent: -9999px;
  font-size: 0;
  color: #fff;
  text-align: right;
  line-height: 0;
}

/*
 *  Adding some styles to get IE7 to display the filter correctly.
 */

#views-exposed-form-events-page-1 .date-views-filter-wrapper {
  line-height: 0;
}

#views-exposed-form-events-page-1 #edit-submit-events {
  margin-top: 5px;
}