.title, .block-title, #footer .block-title, h1 a:link, h1 a:visited, label, #slogan, #callout .wn-hp-callout-title, #main a {
  color: #00b8e0;
}

#nav li.active a {
  border-top: 1px solid #00b8e0;
  border-bottom: 3px solid #00b8e0;
}