.title, .block-title, #footer .block-title, h1 a:link, h1 a:visited, label, #slogan, #callout .wn-hp-callout-title {
  color: #939598;
}

#main a {
  color: #939598;
}

#nav li.active a {
  border-top: 1px solid #939598;
  border-bottom: 3px solid #939598;
}