.title, .block-title, #footer .block-title, h1 a:link, h1 a:visited, label, #slogan, #callout .wn-hp-callout-title {
  color: #75b731;
}

#callout .wn-hp-callout-pager a {
  background: url(../../images/pager/pager-green.gif) 100% 0 no-repeat;
}

#main a {
  color: #75b731;
}

#nav li.active a, #nav li a:hover {
  border-top: 1px solid #75b731;
  border-bottom: 3px solid #75b731;
  text-decoration: none;
}