.title, .block-title, #footer .block-title, h1 a:link, h1 a:visited, label, #slogan, #callout .wn-hp-callout-title {
  color: #d8a91a;
}

#callout .wn-hp-callout-pager a {
  background: url(../../images/pager/pager-yellow.gif) 100% 0 no-repeat;
}

#main a:link, #main a:visited {
  color: #d8a91a;
}

#nav li.active a, #nav li a:hover {
  border-top: 1px solid #d8a91a;
  border-bottom: 3px solid #d8a91a;
  text-decoration: none;
}