ul.wysiwyg_imageupload_tabs {	
	height: 22px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding:0px;	
}

.browser_image {
	float: left;	
	margin:3px;
}

.browser_image img {  
  border:1px solid black;
}


.wysiwyg_imageupload_tab {	
  border-top: 1px solid #ccc;
  border-bottom: 1px solid transparent;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
	height: 20px;
	float: left;
	margin: 0 5px 0px 5px;
	padding: 0px 5px 0px 5px;	
}

.wysiwyg_imageupload_tab_active {
	background: white;
	border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 3px solid white;
}

.wysiwyg_imageupload_tab_inactive {
	background: #f2f2f2;	
}

.wysiwyg_imageupload_tab_active li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.wysiwyg_imageupload_tab_active a:link,
.wysiwyg_imageupload_tab_active a:visited,
.wysiwyg_imageupload_tab_inactive a:link,
.wysiwyg_imageupload_tab_inactive a:visited
	{
	color: #222;
	position:relative;
	top:2px;	
}

#file_upload_group,#wysiwyg_imageupload_browser_group {
  border-bottom:1px solid #ccc;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  padding: 10px;
}

.clearfix {  
  display:block;
}

.clearfix:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
