/* Created by Ishmael Sanchez, www.ishmaelsanchez.com */
/* $Id: style.css,v 1.2 2010/03/03 06:56:08 ishmaelsanchez Exp $ */

/**
 * Layout and main styles
 */
html, body, #bg-image, #bg-image table, #bg-image td {
  height:100%;
  width:100%;
}

#wrapper {
  font-size:.85em;
}

/*** Full Page Background Image ***/
#bg-image {position: fixed;}

#bg-image div {
  height:200%;
  left:-50%;
  position:absolute;
  top:-50%;
  width:200%;
}

#bg-image td {
  text-align:center;
  vertical-align:middle;
}

#bg-image img {
  margin:0 auto;
  min-height:50%;
  min-width:50%;
}

#site-name {
  font-size:1.75em;
  left:50px;
  position:absolute;
  top:35px;
  z-index:5;
}

#site-name a {
  /*background:url(../images/h1-logo.png) no-repeat scroll 0 0;*/ /* Uncomment to use image header */
  color:#27210b;
  display:block;
  height:94px;
  /*text-indent:-1000em;*/ /* Uncomment to use image based header*/
}

h1#site-name {
  margin-top: 0.25em;
}

#content h2 {margin:1em 0 .5em;}

#top-bar {
  background:transparent url(../images/bar-bg.png) repeat scroll 0 0;
  left:0;
  overflow:hidden;
  position:absolute;
  width:100%;
  z-index:10;
}

#header {
  font-size:.825em;
  margin:.25em;
  padding:.25em .5em;
}

#header .block {color:#fff;}

/*** Main primary bar ***/
#primary {
  border-top:2px solid #ccc;
  border-left:solid 1px #656565;
	height:25px;
  width:100%;
}

#primary ul {margin:0;}
#primary .links li {padding:0;} /* Overrides Drupal default padding */

#primary li {
	float:left;
	border-right:solid 1px #7d7d7b;
}

#primary li.first {border-left:solid 1px #7d7d7b;}

#primary li a, #primary li a:link, #primary li a:visited {
	border-right:solid 1px #656565;
  color: #fff;
  display:block;
	float:left;
  font-variant:small-caps;
  font-weight:bold;
	height:25px;
  letter-spacing:1px;
	line-height:25px;
	padding:0 15px 0 5px;
	outline:none;
  text-decoration:none;
}

#primary li a:hover, #primary li a:focus, #primary li a:active {
	background:#826536;
  color:#87B564;
}
#primary li a.active {color:#87B564;}

#main-image {} /* Main background image */

#content p {
  font-size:.85em;
  margin:1.25em 0;
}

.comments {
  color:#461f0e;
  border-bottom:1px solid #121212;
  padding:0 0 .25em;
}

#comments {} /* Wrapper for comments */

.title {
  color:#461f0e;
  font-family:"Adobe Caslon Pro","Hoefler Text",Georgia,Garamond,Times,serif;
  font-size:1.75em; /* 13.5px x 2 = 24px  */
  font-variant:small-caps;
  margin:.5em 0;
  padding:.25em 0 0;
}

.posted, .terms, .links {
  font-size:.9em;
  line-height:1;
  text-transform:lowercase;
}

.posted {color:#5e451c;}

/*** Main Column ***/
#content{
  left:15%;
  overflow:auto;
  position:absolute;
  top:70px;
  z-index:100;
  background-color: #FFF;
  width: 70%;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.content-wrapper {
  margin:0;
  padding:0;
  overflow: hidden;
}

.content-box {
  margin:15px auto 0;
  padding:0 25px 25px;
  float: left;
  width: 70%;
  margin-right: -100%;
  overflow: hidden;
}

body.no-sidebars .content-box {
  width: 95%; /* If no sidebars, push out main content area. */
  margin-right: -95%;
}

#sidebars {
  margin-top: 25px;
  float: right;
  width: 25%;
}

textarea:hover, textarea:focus {border:1px solid #999;}

input.submit {
  background:#000 none repeat scroll 0 0;
  color:#fff;
}

input:hover {
  background:#5e451c none repeat scroll 0 0;
  color:#fff;
}

#bottom-bar {
  background:transparent url(../images/bar-bg.png) repeat scroll 0 0; 
  bottom:0;
  color:#fff;
  font-size:.8em;
  left:0;
  position:fixed;
  width:100%;
  z-index:10;
}

#footer-first {
	float:left;
	margin:.5em;
	padding:.5em;
}

#footer-message {}

#footer-second {
	float:right;
	margin:.5em;
	padding:.5em;
  text-align:right;
}

.breadcrumb {
  color:#fff;
  font-size:.75em;
  margin:.25em 0;
  padding:0 0 0 10px;
}

#logo {clear:both;}

#footer-bottom {
  background:#ccc;
/*  bottom:5px; */
  clear:both;
  /*height: px  Uncomment and define based on content */
  padding:.5em .75em;
  position:relative;
  width:100%;
}

#footer-bottom a {color:#777;}
#footer-links {}

#footer-second li a.active {
  color: #87B564;
  text-decoration: underline;
}

#footer-second ul.links li {
  display: block;
  font-size: 1.3em;
  margin-top: 0.25em;
}

/*** Drupal Pager ***/
.item-list {padding:.25em 0;}
.item-list .pager {margin:1em 0;}
.item-list .pager li {padding:.25em;}
.pager-current {color:#f8e3ae;}
.pager li a.active {color:#87B564;text-decoration:none;}

.pager li {
  background:#5e451c;
  border:1px solid #ccc
}

/*** General Drupal Styles ***/
.messages {
  background-color:#fdfaa1;
  border:1px solid #f3f48a;
  margin:.75em 0;
  padding:.25em;
}

.block-region {
  background-color:#60b86e;
  border:1px dotted #333;
  color:#fff;
}

.form-submit {
  background:#000;
  color:#fff;
  cursor:pointer;
  -moz-border-radius:5px;
  padding:1px 5px;
  -webkit-border-radius:5px;
}

.tags {
  margin:1em 0;
  overflow:auto;
  padding:.25em 0;
}

.tags .vocabulary {
  float:left;
  padding:0 10px 0 0;
}

.vocabulary {font-style:italic;}
.tabs {font-size:.9em;}
.tabs li a {color:#000;}
.error a {color:#000;text-decoration:underline;}
.node-unpublished {border:1px dashed #be0000;padding:.5em;}
.new {color:#be0000;}
.node_read_more {font-weight:bold;}
.taxonomy-term-description {font-style:italic;}
.block ul {padding:0 0 .25em;}
.item-list ul li {margin:0 0 .25em 0.5em;}
.block ul li {list-style:none;}
body#tinymce {background:none;}

/*** Login block ***/
#block-user-0 {
  display:block;
  position:relative;
  width:315px;
}

#block-user-0 #edit-name-wrapper {
  display: block;
  float: left;
}

#block-user-0 #edit-pass-wrapper {
  display: block;
  float: left;
  margin:10px 0 0 10px;
}

#block-user-0 #user-login-form {text-align: left;}
#block-user-0 #user-login-form input.form-text {padding:0;}
#block-user-0 #user-login-form input.form-submit {margin: 12px 0 0 0;}
#block-user-0 .content {margin: -10px 0 0 0;}
#block-user-0 .item-list ul li.first {padding:0;}
#block-user-0 .item-list ul li.last {padding:0 0 0 10px;}

#block-user-0 #user-login-form input.form-submit {
  clear: none;
  margin:25px 0 0 10px;
}

#block-user-0 .item-list {
  clear:both;
  margin:-10px 0 0 0;
}

#block-user-0 .item-list ul li {
  display:inline;
  list-style:none;
  margin:0;
}

.box-editor { /* TODO: Place inline boxes editor on top. */

}

/*** Reusable styles ***/
.bold {font-weight:bold;}
.clear {clear:both;}
.float-left {float:left;}
.float-right {float:right;}
.italic {font-style:italic;}
.invisible {display:none;}
.uppercase {text-transform:uppercase;}