html, body {
  height: 100%;
}

body { 
  background: url('../images/bg.png') no-repeat 0 0 #1c1d1d;
  color: #fff;
  font: 13px/1.4em "Helvetica Neue",helvetica,Arial,sans-serif;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
  margin: 0 auto -225px;
}

body.sidebar-right #content-inner {
  padding: 0 40px 20px 0;
  margin-bottom: 20px;
  background: url(../images/divider.png) repeat-y scroll right 0 transparent;
}

#header {
  margin-top: 25px;
}

#main {
}

#logo-title {
  float: left;
}

#slogan {
  margin-left: 50px;
  font-style: italic;
}

h1.title {
  font-weight: bold;
  font-size: 1.8em;
  text-transform: uppercase;
}

#sidebar-second .block .block-inner, .node-inner {
  overflow: hidden;
}

.sidebar-right .center {
  margin-right: 320px;
}


/*
 *  Updates and Events Page styles
 */ 
 
 .view-updates .view-content > div,
 .view-events .view-content > div,
 .view-take-action .view-content > div,
 .view-donation-opportunities .view-content > div {
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px dotted #fff;
}

.view-updates .views-field-created, .view-events .views-field-field-date-event-value {
  font-style: italic;
}

#content-area .view-updates .views-field-created, #content-area .view-events .views-field-field-date-event-value {
  color: #ebebeb;
}

#views-exposed-form-events-page-1 {
  background: #1e1e1e; 
}

/*
 *  Related content styles
 */ 

#sidebar-second .view-related-getinvolved-content .field-content > .field-item {
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px dotted #fff;
}

#sidebar-second .view-related-getinvolved-content .field-content > .field-item h2.title {
  font-size: 1.1em;
  margin-bottom: 0;
  font-weight: bold;
}

/*
 * Navigation Styles
 */

#nav, #nav li {
  background: none;
}

#nav {
  float: right;
  margin: 0;
  width: auto;
  margin-top: 30px;
}

#nav li {
  padding: 0 .5em;
  text-align: center;
}

#nav li a {
  color: #d1d3d4;
  font-size: .7em;
  font-family: georgia, "times new roman", serif;
  font-weight: bold;
  padding: 0.3em .1em;
}

#nav li.active a {
  color: #fff;
}

/*
 *  Footer styles
 */
 
#footer, #push {
  clear: both;
  height: 225px;
  position: relative;
}

#footer {
  color: #fff;
  width: 100%;
  background: #000;
}

#footer-inner {
  padding: 25px 25px 0;
}

#footer .block {

}

#footer a {
  color: #fff;
}

#footer .title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: .5em;
  color: #fff;
}
 
#footer-message {
  border-top: 1px dotted #fff;
  margin-top: 1em;
}
 
#block-watershed-mission {
  width: 35%;
}

#block-menu-secondary_links {
}

/*
 *  Fix table colors so viewable on dark background
 */
 
.view-donations table, .view-donations td.active, .view-donations tr.odd, .view-donations tr.even {
  background: none;
}

.view-donations thead th {
  border-bottom: 1px solid #CCC;
}

/*
 *  Comments styles
 */
 
#comments .comment.odd {
  background: #2e2e2e;
}