/* $Id: vd_regions.css,v 1.1.2.4 2010/05/31 12:16:57 swentel Exp $ */

.vd-region-header {
  clear: both;
}

.vd-region-left {
  display: inline;
  float: left;
}

.vd-region-middle-wrapper {
  display: inline;
  float: left;
  width: 100%;
  margin-right: -100%;
}

.vd-region-right {
  display: inline;
  float: right;
}

.vd-region-footer {
  clear: both;
}

/* default region dimensions */

.vd-region-left {
  width: 25%;
}

.vd-region-right {
  width: 25%;
}

/* middle region */

.vd-no-sidebars .vd-region-middle {
}

.vd-sidebar-left .vd-region-middle {
  margin-left: 25%;
}

.vd-sidebar-right .vd-region-middle {
  margin-right: 25%;
}

.vd-two-sidebars .vd-region-middle {
  margin-left: 25%;
  margin-right: 25%;
}

/* Fix for IE */
.vd-no-sidebars {
  display:block;
  float:none;
  margin-right:0;
  width:auto;
}

.vd-sidebar-right {
  *display: inline;
  *float: right;
  *width: 100%;
  *margin-left: -100%;
}