.title, .block-title, h1 a:link, h1 a:visited, label, #slogan, #callout .wn-hp-callout-title, #main a {
  color: #2076c7;
}

#nav li.active, #nav li a:hover {
  background: url(../../images/nav/nav_bg_active_blue.png) repeat-x 0 0 transparent;
  height: 38px;
}

#footer {
  background: #2076c7;
}

#footer {
  color: #fff;
  font-weight: bold;
}
