.title, .block-title, h1 a:link, h1 a:visited, label, #slogan, #callout .wn-hp-callout-title, #main a {
  color: #a2ad00;
}

#nav li.active, #nav li a:hover {
  background: url(../../images/nav/nav_bg_active_olive.png) repeat-x 0 0 transparent;
  height: 38px;
}

#footer {
  background: #a2ad00;
}

#footer, #footer a {
  color: #333132;
  font-weight: bold;
}
