#footer {
  background: #a2ad00;
}

#footer, #footer a {
  color: #333132;
  font-weight: bold;
}

.title {
  color: #a2ad00;
}

#nav li.active {
  background: url(../../images/nav/nav_bg_active_olive.png) repeat-x 0 0 transparent;
}