.title, .block-title, h1 a:link, h1 a:visited, label, #slogan, #callout .wn-hp-callout-title, #main a {
  color: #30a9a5;
}


#nav li.active, #nav li a:hover {
  background: url(../../images/nav/nav_bg_active_teal.png) repeat-x 0 0 transparent;
  height: 38px;
}

#footer {
  background: #30a9a5;
}

#footer, #footer a {
  color: #333132;
  font-weight: bold;
}