html, body {
  height: 100%;
}

body { 
  font: 13px/1.4em "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #414042;
  letter-spacing: 0;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
  margin: 0 auto -225px;
}

#header {
  margin-top: 25px;
}

.node-inner {
  overflow: hidden;
}

#content-inner {
  padding: 0 25px 25px 25px;
}

h1.title {
  font-weight: bold;
  font-size: 1.8em;
  text-transform: uppercase;
}

.title, .block-title, #nav a {
  font-family: "Trebuchet MS", "Helvetica Neue",helvetica,Arial,sans-serif;
}

a {
  outline: none;
}

/*
 *  Navigation styles
 */

#nav {
  background: url(../images/nav/nav_bg.png) repeat-x 0 0 transparent;
  height: 38px;
}

#nav li {
  background: url(../images/nav/divider.png) no-repeat right 0 transparent;
}

#nav li.last {
  background: none;
}

#nav li.active {
  height: 38px;
}

#nav li a {
  padding: 0 1em;
  height: 38px;
  display: block;
}

/*
 *  Sidebar styles
 */
 
.block-title {
  font-size: 1.2em;
  text-transform: lowercase;
}

#sidebar-second .block .content {
  font-size: .9em;
}

#sidebar-second .block .block-inner {
  padding: 1em;
  overflow: hidden;
}

#sidebar-second .block.odd {
  background: #eff0f0;
}

#sidebar-second .block.block-menu_block {
  background: none;
}

#sidebar-second .block-title, #sidebar-second .content {
  padding-left: 15px;
}

#sidebar-second .block-menu_block .block-title {
  padding: 0;
}

#sidebar-second .block-menu_block .block-title a {
  background: #ece9b2;
  padding: 0 15px;
  color: #151515;
  font-size: 1.3em;
  font-style: italic;
  text-transform: uppercase;
}

/*
 *  Updates Page styles
 */ 

.view-updates .view-content > div {
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px dotted #414042;
}

.view-updates .views-field-created {
  font-style: italic;
}

#content-area .view-updates .views-field-created {
  color: #414042;
}

/*
 *  Header styles
 */
 
#logo-title {
  min-height: 75px; /* minimum height to keep header spacing correct if using short logo */
}
 
#slogan {
  color: #58595b;
  font-style: italic;
  font-size: 1em;
  margin-left: 100px;
}
 
#block-watershed-newsletter {
  float: right;
  width: 215px;
  margin-top: 25px;
}

#block-watershed-newsletter h3.title {
  font-weight: normal;
}


/*
 *  Footer styles
 */
 
#footer, #push {
  clear: both;
  width: 100%;
  height: 225px;
  position: relative;
}

#footer {
  color: #fff;
}

#footer-inner {
  padding: 25px 25px 0 50px;
}

#footer .block {

}

#footer a {
  color: #fff;
}

#footer .title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: .5em;
  color: #fff;
}
 
#footer-message {
  border-top: 1px dotted #fff;
  margin-top: 1em;
  padding-top: .5em;
}
 
#block-watershed-mission {
  width: 35%;
}

#block-menu-secondary_links {
}