html, body {
  height: 100%;
}

body { 
  font: 13px/1.4em "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #414042;
  letter-spacing: 0;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
  margin: 0 auto -225px;
}

#header {
  margin-top: 25px;
}

.node-inner {
  overflow: hidden;
}

#content-inner {
  padding: 0 25px 25px 25px;
}

h1.title {
  font-weight: bold;
  font-size: 1.8em;
  text-transform: uppercase;
}

.title, .block-title, #nav a {
  font-family: "Trebuchet MS", "Helvetica Neue",helvetica,Arial,sans-serif;
}

a {
  outline: none;
}

/*
 *  Navigation styles
 */

#nav {
  background: url(../images/nav/nav_bg.png) repeat-x 0 0 transparent;
  height: 38px;
}

#nav li {
  background: url(../images/nav/divider.png) no-repeat right 0 transparent;
}

#nav li.last {
  background: none;
}

#nav li.active {
  height: 38px;
}

#nav li a {
  padding: 0 1em;
  height: 38px;
  display: block;
}

/*
 *  Sidebar styles
 */
 
.block-title {
  font-size: 1.2em;
  text-transform: lowercase;
}

#sidebar-second .block .content {
  font-size: .9em;
}

#sidebar-second .block .block-inner {
  padding: 1em;
  overflow: hidden;
}

#sidebar-second .block.odd {
  background: #eff0f0;
}

#sidebar-second #block-boxes-homepage_secondary {
  background: none;
}

body.node-type-map-feature #sidebar-second .block.odd {
  background: #FFFFFF;
}

#sidebar-second .block-title, #sidebar-second .content {
  padding-left: 15px;
}

#sidebar-second .block-menu_block .block-title {
  padding: 0;
}

/*
 *  Updates and Events Page styles
 */ 

.view-updates .view-content > div, .view-events .view-content > div, .view-take-action .view-content > div {
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px dotted #414042;
}

.view-updates .views-field-created, .view-events .views-field-field-date-event-value {
  font-style: italic;
}

#content-area .view-updates .views-field-created, #content-area .view-events .views-field-field-date-event-value {
  color: #414042;
}

/*
 *  Related content styles
 */ 

#sidebar-second .view-related-getinvolved-content .field-content > .field-item {
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px dotted #414042;
}

#sidebar-second .view-related-getinvolved-content .field-content > .field-item h2.title {
  font-size: 1.1em;
  margin-bottom: 0;
  font-weight: bold;
}

/*
 *  Header styles
 */
 
#logo-title {
}
 
#slogan {
  color: #58595b;
  font-style: italic;
  font-size: 1em;
  margin-left: 100px;
}
 
#block-watershed-newsletter {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 215px;
}

.front #block-watershed-newsletter {
  bottom: 327px;
}

#block-watershed-newsletter h3.title {
  font-weight: normal;
}


/*
 *  Footer styles
 */
 
#footer, #push {
  clear: both;
  width: 100%;
  height: 250px;
  position: relative;
}

#footer {
  color: #fff;
}

#footer-inner {
  padding: 25px 25px 0 50px;
}

#footer .block {

}

#footer a {
  color: #fff;
}

#footer .title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: .5em;
  color: #fff;
}
 
#footer-message {
  border-top: 1px dotted #fff;
  margin-top: 1em;
  padding-top: .5em;
}
 
#block-watershed-mission {
  width: 35%;
}

/** Optional Waterkeeper Alliance Logo styles for footer. */
#wka {
  position: absolute;
  right: 145px;
  bottom: 100px;
}